
body {
    margin: 0px;
    font-family: "Funky Choky";
    min-height: 100vh;
    background-image: url(images/background2_edited.JPG);
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
    background-color: black;
}

.navbar {
    padding: 10px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.71);
    background-color: rgba(0, 0, 0, 0.854);
}

.navbar a{
    color: white;
    text-decoration:none;
}

.navbar-left img {
    display: block;
    max-width: 50px;
    max-height: 90px;
    margin-right: 30px;
    margin-left: 20px;
    width: auto;
    height: auto;
}

.navbar-left div {
    font-family: "Amplitude-Regular";
    text-transform: uppercase;
    font-weight: 550;
}

.navbar-left a:hover {
    transform: scale(1.2);
    color: goldenrod;
}

.navbar-left {
    display: flex;
    align-items: center;
    color: whitesmoke;
}

.navbar-left > * {
    padding: 10px;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right img {
    padding: 6px;
}

.navbar-right img:hover {
    transform: scale(1.2);
    background: goldenrod;
}

.band-name{
    align-items: center;
    text-align: center;
}

.band-name h1{
    font-weight: 50;
    font-size: 250px;
    color: white;
}


.band-name p{
    font-family: "Amplitude-Regular";
    text-transform: uppercase;
    font-weight: 20;
    font-size: 40px;
    color: white;
    margin-top: -120px;
    margin-bottom: 120px;
    padding-bottom: 110px;
}

.merch-container {
    background-color: rgba(0, 0, 0, 0.789);
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    overflow: visible;
}

.merch-text {
    width: 33.33%;
}

.merch-text h1{
    color: goldenrod;
    font-weight: 50;
    font-size: 120px;
    margin-top: -40px;
    margin-bottom: -40px;
    text-align: center;
}

.merch-text h2 {
    font-family: "Amplitude-Regular";
    color: white;
    font-weight: 20;
    font-size: 40px;
    text-align: center;
}

.merch-container-left {
    width: 33.33%;
}

.merch-container-left img {
    float: right;
    height: auto;
}

.merch-container-left img:hover {
    transform: rotate(-20deg) scale(1.2) translateZ(0);
    transition-property: transform;
    transition-duration: .3s;
}

.merch-container-right {
    float: left;
    width: 33.33%;
}

.merch-container-right img { /* Find out how to put this on the left side */
    height: auto;
}

.merch-container-right img:hover {
    transform: rotate(20deg) scale(1.2) translateZ(0);
    transition-property: transform;
    transition-duration: .3s;
}

.fade-animation {
    animation: transitionIn 1.5s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
        color: black;
    }
}